<h1>{{title}}</h1>
<div class="header">
  <div class="text-header">
    <h1>WE PRIORITY YOUR</h1>
    <h2><b>NEW SMILE</b></h2>
  </div>
</div>


<section id="about">
  <div class="about-block">
    <p>You probably don’t want to spend too much time away from the office or to pull your child out of class for a
      dental appointment. We recognize the challenges that many people face in making time for dental care, and to that
      end we have made our schedule as flexible as possible. We offer early and late appointment hours throughout the
      week; this gives you plenty of options for choosing a time that works best for you.<br><br>Here you can have all
      of your family’s dental needs addressed under one roof. Our practice has been designed with your convenience and
      comfort in mind; everything we do is completely patient centric. Have you been thinking of having an extensive
      smile makeover done? Or do you simply need a new dental office to have your teeth cleaned? Whatever your dental
      needs are, we’re here to help; call us today to schedule your next visit!</p>

    <h1>A TEAM OF</h1>
    <h2>DEDICATED DENTIST</h2>
    <div class="row">
      <div class="column">
        <!--Column 1.-->
        <img src="https://preview.colorlib.com/theme/dente/images/person_1.jpg"><br>
        <br>
        <h1>Dr. Emily Sy</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
          vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
          ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
          rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
          Etiam rhoncus.</p>
      </div>
      <!--END column1.-->


      <div class="column">
        <!--Column 2-->
        <img src="https://preview.colorlib.com/theme/dente/images/person_3.jpg"><br>
        <br>
        <h2>Dr. Vincent Uen</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
          vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
          ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
          rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
          Etiam rhoncus.</p>


      </div>
      <!--END Column 2-->

    </div>
    <!--END ROW.-->
  </div>
</section>

<section id="photo-parallax">
  <h1>We <span style="color: #c33c54;">love</span> dentistry!</h1>
</section>

<section id="treatments">
  <div class="features-inner">
    <!-- Digital XRays-->
    <div class="types-of-treatment">
      <div class="treatment-image">
        <img src="http://smiles4fairfax.com/wp-content/uploads/2015/04/digital-xray.jpg">
      </div>
      <div class="treatment-text">
        <h1>Digital X-Rays</h1>
        <p>Dr Albazzaz, Dr Javed and Dr Safi bring the most up to date dental technology to their West Chicago practice.
          They use digital x-rays which require less radiation and provide improved diagnostic quality to every patient
          appointment. The doctors are happy to share their findings with you by showing you your dental x-rays on a
          large computer screen.</p><br>
      </div>
    </div>
    <!-- Dental Cleanings-->
    <div class="types-of-treatment">
      <div class="treatment-text">
        <h1>Dental Cleanings</h1>
        <p>Our dentists treat patients with healthy gums and patients who inflammation and other periodontal diseases.
          Our staff agree with the American Dental Association guidelines for dental cleanings. We want all patients to
          visit the dentist for their dental cleanings at least twice a year.</p>
      </div>
      <div class="treatment-image"><img
          src="https://images.pexels.com/photos/3845653/pexels-photo-3845653.jpeg?cs=srgb&dl=pexels-anna-shvets-3845653.jpg&fm=jpg">
      </div>

    </div>
    <!-- Flouride Treatments-->
    <div class="types-of-treatment">
      <div class="treatment-image"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWUY-UnoPrATxy6Ngk9aw-M9RqeBagPfbL0qfD4t0NSvt6Cl3N">
      </div>
      <div class="treatment-text">
        <h1>Fluoride Treatments</h1>
        <p>The staff at North Ave Dental Associates believe that everyone should have routine professional fluoride
          treatments.</p><br><br>
      </div>
    </div>
    <!-- Oral Hygiene Instruction-->
    <div class="types-of-treatment">
      <div class="treatment-text">
        <h1>Oral Hygiene Instruction</h1>
        <p>Home care is an important part of maintaining healthy teeth and gums. Our staff are happy to review proper
          brushing &amp; flossing techniques as well as other dental home care solutions that will prevent dental
          disease.</p>
      </div>
      <div class="treatment-image"><img
          src="https://static1.squarespace.com/static/554cfbc3e4b02833ac3cdf8f/t/555163aee4b04fae16fdcc75/1431397296642/">
      </div>

    </div>
  </div>
</section>