<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    {{#if loggedUser}}
    <span>Olá, {{loggedUser.username}}</span>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/signup">Crie sua conta</a>
    <a href="/login">Logar</a>
    <a href="/">Home</a>
    <a href="#about">Quem Somos</a>
    <a href="#treatments">Tratamentos</a>
    <a href="#contact">Contato</a>
    {{/if}}
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>