<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

<header>
      <nav>
      {{#if loggedUser}}
      <span>Olá, {{loggedUser.username}}</span>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/">Home</a>
{{!--       <a href="#about">About Us</a>
      <a href="#treatments">Treatments</a>
      <a href="#contact">Contact</a> --}}
       <a href="/signup">Create your account</a>
      <a href="/login">Login</a>
      {{/if}}
    </nav>

    <div class="text-header">
      <h1>WE PRIORITY YOUR</h1>
      <h2><b>NEW SMILE</b></h2>
    </div>

  </header>
  

  {{{body}}}
  

  <script src="/javascripts/script.js"></script>
</body>

</html>