<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">


<div id="contacts">
  <table>
    <thead>
      <div>
        <h3 class="calendar-title"><i class="em em-tooth" aria-role="presentation" aria-label="TOOTH"></i>Hello, doctor.
          Here's your schedule for the day. Have a good job!</h3>
      </div>
      <tr>
        <th class="sort" data-sort="schedule">Schedule</th>
        <th class="sort" data-sort="name">Name</th>
        <th class="sort" data-sort="informations">Informations</th>
        <th colspan="2">
          <input type="text" class="search" placeholder="Search contact" />
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <tr class="calendar-patient">
        <td class="id" style="display:none;">1</td>
        <td class="schedule">8:00 AM</td>
        <td class="name">Rabia Carlson</td>
        <td class="informations">First time</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
      <tr class="calendar-patient">
        <td class="id" style="display:none;">2</td>
        <td class="schedule">9:00 AM</td>
        <td class="name">Lucian Millar</td>
        <td class="informations">Emergency (pain)</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
      <tr class="calendar-patient">
        <td class="id" style="display:none;">3</td>
        <td class="schedule">10:00 AM</td>
        <td class="name">Trixie Foster</td>
        <td class="informations">Prothesis adjustment</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
      <tr class="calendar-patient">
        <td class="id" style="display:none;">4</td>
        <td class="schedule">11:00 AM</td>
        <td class="name">Johnathon Rollins</td>
        <td class="informations">Broken bracket</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <table>
    <td class="schedule">
      <input type="hidden" id="id-field" />
      <input type="text" id="schedule-field" placeholder="Schedule" />
    </td>
    <td class="name">
      <input type="text" id="name-field" placeholder="Name" />
    </td>
    <td class="informations">
      <input type="text" id="informations-field" placeholder="Informations" />
    </td>
    <td class="add">
      <button id="add-btn">Add</button>
      <button id="edit-btn">Edit</button>
    </td>
  </table>

  <script src="/javascript/script.js"></script>
</div>