<div class="calendar-container">
    <div class="calendar">
        <div>
        <h3 class ="calendar_title">Hello, doctor. Here's your schedule for the day. Good job!</h3>
        </div>
        <div>
            <div class="calendar-date-color">
                <div class="calendar-date">April 18, 2021</div>
                </div>
            </div>
            <div class="calendar_events">
                <p class="calendar-title">Today's schedule</p>
                <div class="event_item">
                    <div class="ei_Dot dot_active"></div>
                    <div class="ei_Title">10:30 am</div>
                    <div class="ei_Copy">Carlos Martínez. Phone 0991 999 999</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">12:00 pm</div>
                    <div class="ei_Copy">María Pérez. First time</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">13:00 pm</div>
                    <div class="ei_Copy">Fernando Francisco Ramírez 
                    <br>
                    <p>Emergency consultation - pain</p></div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">14:30 am</div>
                    <div class="ei_Copy">Marta Carolina González</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">15:30 am</div>
                    <div class="ei_Copy">Andrea Ramirez Paredes</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot dot_active"></div>
                    <div class="ei_Title">16:00 am</div>
                    <div class="ei_Copy">Carlos Martínez. Phone 0991 999 999</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">16:30 pm</div>
                    <div class="ei_Copy">María Pérez. First time</div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">16:45 pm</div>
                    <div class="ei_Copy">Fernando Francisco Ramírez <br>
                    <p>Prosthesis adjustment</p></div>
                </div>
                <div class="event_item">
                    <div class="ei_Dot"></div>
                    <div class="ei_Title">17:00 am</div>
                    <div class="ei_Copy">Marta Carolina González</div>
                </div>
            </div>
        </div>
    </div>
</div>

