<main class="form-auth-container">
  <form class="form-auth" action="/dentist/signup" method="post">
    <div>
      <label for="password">Senha</label>
      <input type="password" name="passwordSite" id="passwordSite" placeholder="Digite a senha">
    </div>

    <button type="submit">Logar</button>
  </form>
</main>