<main class="form-auth-container">
    <h1>Faça o login</h1>

    <form class="form-auth" action="/login/dentist" method="post">
        <div>
            <label for="userEmail">Nome de usuário</label>
            <input type="text" name="userEmail" id="userEmail" placeholder="Digite o seu nome de usuário">
        </div>

        <div>
            <label for="userPassword">Senha</label>
            <input type="password" name="userPassword" id="userPassword" placeholder="Digite sua senha">
        </div>

        {{#if errorMessage}}
        <div>
            <span>{{errorMessage}}</span>
        </div>
        {{/if}}

        <button type="submit">Logar</button>
    </form>
</main>